<template>
<div v-if="!access">
    <NotFound/>
</div>
<div v-else>
  <div class="pb-2 mb-3 border-bottom"><h2>Add Post</h2></div>
        <nav aria-label="breadcrumb">
           <ol class="breadcrumb">
              <li class="breadcrumb-item"><router-link to="/dash">Dashboard</router-link></li>
              <li class="breadcrumb-item"><router-link to="/view">Posts</router-link></li>
              <li class="breadcrumb-item active">Create</li>
           </ol>
         </nav>
     <br />

    <b-container fluid>
     <b-form>
       <b-alert v-model="alerts.message" variant="success" dismissible>{{ message }}</b-alert>
       <b-alert v-model="alerts.errors"  variant="danger" dismissible>{{ errors }}</b-alert>
       <b-row class="my-2">
         <b-col sm="2">
           <label for="input-1">Title<sup style="color:red;">*</sup></label>
         </b-col>
         <b-col sm="6">
           <b-form-input type="text" v-model="title" id="input-1" placeholder="title"> </b-form-input>
           <small class="text-muted field">Minimum 3 characters</small>
         </b-col>
       </b-row>

       <b-row class="my-2">
        <b-col sm="2">
          <label for="input-2">Description<sup style="color:red;">*</sup></label>
        </b-col>
        <b-col sm="6">
          <b-form-textarea type="text" v-model="content" id="input-2" placeholder="Description"> </b-form-textarea>
          <small class="text-muted field">Minimum 7 characters</small>
        </b-col>
       </b-row>

        <b-row class="my-2">
          <b-col sm="2">
            <label for="input-2">Image Upload<sup style="color:red;">*</sup></label>
          </b-col>
          <b-col sm="6">
             <b-form-file v-model="file" :state = "Boolean(file)" placeholder="Choose a file or drop it here" drop-placeholder="Drop file here..."> </b-form-file>
             <small class="text-muted field">Select only an image</small>
          </b-col>
        </b-row>

        <b-row class="my-2" >
          <b-col>
          </b-col>
          <b-col>
             <b-button type="button" variant="primary" class="text-right ma-10px" @click="addPosts()" >Submit</b-button>
             <b-button type="button" variant="Secondary" class="ma-10px" @click="$router.go(-1)" >Cancel</b-button>
          </b-col>
        </b-row>
        </b-form>
     </b-container>
</div>
</template>
<script>
import axios from "axios";
import NotFound from "../errors/NotFound";
export default {
  components:{
     NotFound
  },
  data() {
    return {
      access:'',
      title: "",
      content: "",
      file:"",
      message: null,
      errors:null,
      alerts: {
        message:false,
        errors:false
      }
    };
  },
  mounted(){
      if(!this.$cookies.isKey('user')){
        this.$router.push({ name:"login"});
      }
      this.access = this.hasPermission("createPost");
  },
  methods: {
    addPosts() {
        this.$Progress.start();
        var form = new FormData;
        form.append('image', this.file);
        form.append('title', this.title);
        form.append('content', this.content);

        axios
           .post(this.$api.addpost, form ,this.getAuthHeaders())
           .then(response => {
                  console.log(response);
                  this.title = "";
                  this.content = "";
                  this.file = "";
                  this.message = response.data.message;
                  this.alerts.errors = false;
                  this.alerts.message = true;
                  this.$Progress.finish();
         })
         .catch(error => {
                console.log(error.response.data.errors);
                this.$Progress.fail();
                if("title" in error.response.data.errors){
                     this.errors = error.response.data.errors.title[0];
                     this.alerts.message = false;
                     this.alerts.errors = true;
                 }else if("content" in error.response.data.errors){
                     this.errors = error.response.data.errors.content[0];
                     this.alerts.message = false;
                     this.alerts.errors = true;
                 }else if("image" in error.response.data.errors){
                     this.errors = error.response.data.errors.image[0];
                     this.alerts.message = false;
                     this.alerts.errors = true;
          }
      })
    }
  }
};
</script>


<style lang="scss">
   @import "@/assets/css/custom.scss";
</style>
