<template>
  <div>
    <div class="pb-2 mb-3 border-bottom"><h2>Edit Post</h2></div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><router-link to="/dash">Dashboard</router-link></li>
    <li class="breadcrumb-item"><router-link to="/view">Posts</router-link></li>
    <li class="breadcrumb-item active">Edit</li>
  </ol>
</nav>
 <br />
<b-form @submit.prevent="submit">
     <b-container fluid>
          <b-alert v-model="alerts.message" variant="success" dismissible>{{ message }}</b-alert>
          <b-alert v-model="alerts.errors" variant="danger" dismissible>{{ errors }}</b-alert>
       <b-row class="my-2">
        <b-col sm="2">
          <label for="input-1">Title<sup style="color:red;">*</sup></label>
        </b-col>
        <b-col sm="6">
          <b-form-input type="text" v-model="title" id="input-1" placeholder="title" required> </b-form-input>
          <small class="text-muted field">Minimum 3 characters</small>
        </b-col>
       </b-row>

       <b-row class="my-2">
        <b-col sm="2">
          <label for="input-2">Description<sup style="color:red;">*</sup></label>
        </b-col>
        <b-col sm="6">
          <b-form-textarea type="text"  v-model="content" id="input-2" placeholder="content" required></b-form-textarea>
          <small class="text-muted field">Minimum 7 characters</small>
        </b-col>
       </b-row>

        <b-row class="my-2">
          <b-col sm="2">
             <label for="input-2">Image<sup style="color:red;">*</sup></label>
          </b-col>
          <b-col sm="6">
             <b-img center v-bind:src="this.image" alt="Image Not Found" width="200px"></b-img>
          </b-col>
        </b-row>

        <b-row class="my-2">
          <b-col sm="2">
             <label for="input-2">Upload</label>
          </b-col>
          <b-col sm="6">
             <b-form-file v-model="file" :state = "Boolean(file)" placeholder="Choose a file or drop it here" drop-placeholder="Drop file here..."> </b-form-file>
             <small class="text-muted field">(Optional)</small>
          </b-col>
        </b-row>


        <b-row class="my-2">
          <b-col>
          </b-col>
          <b-col>
            <b-button type="submit" variant="primary" class="text-right ma-10px" @click="update();">Submit</b-button>
             <b-button type="button" variant="Secondary" class="ma-10px" @click="$router.go(-1)">Cancel</b-button>
          </b-col>
        </b-row>
     </b-container>
</b-form>

        </div>


</template>


<script>
import axios from 'axios';
export default {
    data() {
        return {
            title:null,
            content:null,
            file:null,
            image:null,
            alerts: {
              message: false,
              errors: false
            },
            data: this.$cookies.get('user'),
            message: null,
            errors: null
        }
    },
    mounted(){
        this.getpost();
    },
    methods: {
        getpost(){
              this.$Progress.start();
              var query = this.getAuthHeaders();
              query['params'] = { id : this.$route.params['id'] }
              axios
                 .get(this.$api.getpost, query)
                 .then(response => {
                       console.log(response.data.data[0][0]);
                       const result = response.data.data[0][0];
                       this.title = result.title;
                       this.content = result.content;
                       this.image = result.image;
                       this.$Progress.finish();
                  })
                  .catch(errors => {
                        console.log(errors);
                        this.$Progress.fail();
                  })
        },
        update(){
             this.$Progress.start();
             var form = new FormData;
             form.append('id', this.$route.params.id);
             form.append('title', this.title);
             form.append('content', this.content);
             form.append('image', this.file);
             axios.post(this.$api.editPost,form, this.getAuthHeaders())
             .then(response => {
                 console.log(response)
                 this.message = response.data.message;
                 this.alerts.errors = false;
                 this.alerts.message = true;
                 // this.getpost();
                 this.$Progress.finish();
                 this.$router.go(-1);
               })
            .catch(error => {
                 console.log(error.response.data.errors);
                 if("title" in error.response.data.errors){
                 this.errors = error.response.data.errors.title[0];
                 this.alerts.message = false;
                 this.alerts.errors = true;
               }
               else if("content" in error.response.data.errors){
                 this.errors = error.response.data.errors.content[0];
                 this.alerts.message = false;
                 this.alerts.errors = true;
               }
                this.$Progress.fail();
            })
          },
       }
}
</script>
<style lang="scss">
   @import "@/assets/css/custom.scss";
</style>
