<template>
  <div>
        <div class="pb-2 mb-3 border-bottom">
            <h2>Home</h2>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <router-link to="/">Dashboard</router-link>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
         </nav>

      <!---pagination-->
           <div class="pagination">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                      <li class="page-item">
                            <span
                                class="page-link"
                                v-on:click="navigate(pagination.current_page-1);"
                                v-if="pagination.prev_page_url!==null"
                            >
                               <font-awesome-icon class="mr-2" icon="angle-double-left">
                                 </font-awesome-icon>Previous
                            </span>

                             <span
                                class="page-link text-muted"
                                style="cursor:not-allowed !important;"
                                v-else
                            >
                                <font-awesome-icon class="mr-2" icon="angle-double-left"></font-awesome-icon>Previous
                            </span>
                      </li>
                      <li class="page-item">
                            <span
                                class="page-link text-muted"
                                style="cursor:not-allowed !important;"
                                v-if="pagination.next_page_url==null"
                            >
                                Next
                                <font-awesome-icon class="mr-2" icon="angle-double-right"></font-awesome-icon>
                            </span>
                            <span class="page-link" v-else v-on:click="navigate(pagination.current_page+1);" :disabled="!pagination.next_page_url">
                                Next
                                <font-awesome-icon class="mr-2" icon="angle-double-right"></font-awesome-icon>
                            </span>
                      </li>
                    </ul>
                </nav>
           </div>
     <br/>
     <!--Posts-->
    <div class="container-fluid">
      <div v-for="post in posts" :key="post.id">
        <div class="mt-4">

          <b-card v-bind:img-src="post.image" img-alt="Image Not Found" img-left class="mb-3" img-width="400px">
             <h6 style="float:right;">posted by</h6>
             <h4>{{ post.title }}</h4>
             <b-card-text>{{ post.content }}</b-card-text>
             <b-icon icon="chat" font-scale="2"></b-icon>
             <b-icon icon="heart" font-scale="2"></b-icon>
             <b-icon icon="box-arrow-up-right" font-scale="2"></b-icon>
          </b-card>
        </div>
      </div>
    </div>
</div>
</template>

<script>
import axios from "axios";
export default {
  data () {
    return {
      urlBody:{
         page: 1
      },
      posts: null,
      pagination: [],
      data: this.$cookies.get('user')
    }
  },
  mounted () {
    if(!this.$cookies.isKey('user')){
        this.$router.push({  name: 'login' });
    }
    this.getPosts();
  },
  methods: {
     getPosts(){
          let $this = this;
          var urlBody =
              Object.keys(this.$route.query).length > 0
                    ? this.$route.query
                    : this.urlBody;
          var query = this.getAuthHeaders();
          query['params'] = urlBody;
          axios
            .get(this.$api.home, query)
            .then(response => {
                  const result = response.data.data[0].data;
                  this.posts = result;
                  $this.makePagination(response.data.data[0]);
            })
     },
     makePagination(data){
          let pagination = {
               current_page : data.current_page,
               last_page : data.last_page,
               next_page_url : data.next_page_url,
               prev_page_url : data.prev_page_url
           }
          this.pagination = pagination;
    },
    navigate(page){
           var newQuery = this.deleteEmptyKeys(this.$route.query);
           newQuery.page = page;
           this.$router
               .push({
                    path: this.$route.params[0],
                    query: newQuery
                })
                .catch(err => {
                   console.error(err);
                })
           this.getPosts();
    }
  }
}
</script>
<style lang="scss">
   @import "@/assets/css/custom.scss";
</style>
