<template>
  <div v-if="!access">
      <NotFound />
  </div>
  <div v-else>
    <div class="pb-2 mb-3 border-bottom"><h2>Posts</h2></div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <router-link to="/">Dashboard</router-link>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Posts</li>
            </ol>
        </nav>
      <b-container fluid>
          <b-row>
              <b-col lg="6" class="mb-1rem" v-if="checkPermit('createPost') || checkPermit('Do_Anything')">
                <router-link to="/addpost">
                <b-button class="btn btn-primary text-right"><font-awesome-icon icon="plus"></font-awesome-icon>&nbsp; Create Post</b-button>
                </router-link>
              </b-col>


    <!---Search-->
              <b-col lg="6" class="mb-1rem">
                 <b-form-group
                        label="Search"
                        label-cols-sm="3"
                        label-align-sm="right"
                        label-size="sm"
                        label-for="filterInput"
                        class="mb-0"
                        style="font-weight:bold; font-size:1rem !important;"
                 >
                      <b-input-group size="md">
                            <b-form-input
                                v-model="filter"
                                type="search"
                                id="filterInput"
                                placeholder="Type to Search"
                            ></b-form-input>
                            <b-input-group-append>
                                <b-button
                                    :disabled="!filter"
                                    @click = "search()"
                                    class="btn btn-primary"
                                >Search</b-button>
                            </b-input-group-append>
                      </b-input-group>
                 </b-form-group>
              </b-col>
          </b-row>

      <b-table
          show-empty
          striped
          hover
          :fields="fields"
          :items="items"
          @sort-changed="sorting"
          @filtered="search"
           no-local-sorting
          responsive

      >

        <template v-slot:cell(id)="data">
           {{ data.index+1 }}
        </template>

        <template v-slot:cell(actions)="row">
          <b-link :to="{ name:'editpost', params: { id: row.item.id } }">
            <font-awesome-icon
                            icon="pen"
                            class="mr-1"
                            style="cursor:pointer"
                        >
            </font-awesome-icon>
          </b-link>
          <b-link>
             <font-awesome-icon
                            icon="trash-alt"
                            class="mr-1 text-danger"
                            style="cursor:pointer"
                            @click="deletepost(row.item.id)"
             >
            </font-awesome-icon>
          </b-link>
        </template>

      </b-table>


      <!---pagination-->
           <div class="pagination" style="float:right;">
                <nav aria-label="Page navigation">
                    <ul class="pagination">

                      <li class="page-item">
                            <span
                                class="page-link"
                                v-on:click="navigate(pagination.current_page-1);"
                                v-if="pagination.prev_page_url!==null"
                            >
                               <font-awesome-icon class="mr-2" icon="angle-double-left">
                                 </font-awesome-icon>Previous
                            </span>

                             <span
                                class="page-link text-muted"
                                style="cursor:not-allowed !important;"
                                v-else
                            >
                                <font-awesome-icon class="mr-2" icon="angle-double-left"></font-awesome-icon>Previous
                            </span>
                      </li>
                      <li class="page-item">
                            <span
                                class="page-link text-muted"
                                style="cursor:not-allowed !important;"
                                v-if="pagination.next_page_url==null"
                            >
                                Next
                                <font-awesome-icon class="mr-2" icon="angle-double-right"></font-awesome-icon>
                            </span>
                           <span class="page-link" v-else v-on:click="navigate(pagination.current_page+1);" :disabled="!pagination.next_page_url">
                                Next
                                <font-awesome-icon class="mr-2" icon="angle-double-right"></font-awesome-icon>
                           </span>
                      </li>
                    </ul>
                </nav>
            </div>
    </b-container>
  </div>

</template>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
<script type="text/javascript">
import NotFound from "../errors/NotFound";
import axios from "axios";


export default {
  components: {
      NotFound
  },
  data() {
    return {
      access: true,
      items: [],
      urlBody: {
          search: "",
          sortBy: "",
          sortDirection: "",
          page: 1
      },
      fields:[{ key:'id',label:'Sno', sortable:'true' },
              { key:'title', label:'Title', sortable:'true'},
              { key:'created_at',label: 'PostedAt', sortable:'true' },
              { key:'actions',label:'Actions' }],
      single: null,
      pagination: [],
      pathname: '',
      pageOptions:[ 5, 10, 20],
      filter:null,
      order: null,
      data: this.$cookies.get('user'),
      sortDirection: null,
      sortOptions: [ 'id','title', 'created_at']

    };
  },
  mounted() {
       this.access = this.hasPermission('viewPosts');
       this.getAllPosts();
  },
  methods: {
       checkPermit: function(permission){
          return this.hasPermission(permission);
       },
       getAllPosts(){
            this.$Progress.start();
            let $this = this;
            var urlBody =
                 Object.keys(this.$route.query).length>0
                     ? this.$route.query
                     : this.deleteEmptyKeys(this.urlBody);
            var query = this.getAuthHeaders();
            query["params"] = urlBody;
            axios
               .get(this.$api.getposts,query)
               .then(response => {
                      // console.log(response.data);
                      const result = response.data.data[0];
                      this.items = result.data;
                      $this.makePagination(result)
                      this.$Progress.finish();
                })
               .catch(error => {
                      console.log(error);
                      this.$Progress.fail();
               })

       },
       deletepost(id){
          this.$Progress.start();
          const data = {'id': id}
          axios
            .post(this.$api.deletePost,data,this.getAuthHeaders())
            .then(response => {
                 console.log(response.data);
                 this.getAllPosts();
                 this.$Progress.finish();
            })
            .catch(error => {
                 console.log(error);
                 this.$Progress.fail();
             })
       },

       makePagination(data){
           let pagination = {
              current_page : data.current_page,
              last_page : data.last_page,
              next_page_url : data.next_page_url,
              prev_page_url : data.prev_page_url
           }
           this.pagination = pagination;
       },
       navigate(page){
           var newQuery = this.deleteEmptyKeys(this.$route.query);
           newQuery.page = page;
           this.$router
               .push({
                    path: this.$route.params[0],
                    query: newQuery
                })
                .catch(err => {
                   console.error(err);
                })
           this.getAllPosts();
       },
      sorting(ctx){
           this.urlBody.sortDirection = ctx.sortDesc ? 'asc' : 'desc';
           this.urlBody.sortBy = ctx.sortBy;
           this.urlBody.page = this.$route.query['page'];
           var query = this.getAuthHeaders();
           query["params"] = this.urlBody;

           axios
             .get(this.$api.getposts, query)
             .then(response => {
                  console.log(response);
                  const result = response.data.data[0];
                  this.items = result.data;
                  this.makePagination(result);
                  this.$router
                      .push({
                          path: this.$route.params[0],
                          query: this.deleteEmptyKeys(this.urlBody)
                       })
                      .catch(error => {
                          console.error(error);
                       })
             })
       },
      search(){
           this.urlBody.search = this.filter;
           this.urlBody.page = 1
           var query = this.getAuthHeaders();
           query["params"] = this.urlBody;

           axios
             .get(this.$api.getposts, query)
             .then(response => {
                   console.log(response);
                   const result = response.data.data[0];
                   this.items = result.data;
                   this.makePagination(result);
                   this.$router
                       .push({
                           path: this.$route.params[0],
                           query: this.deleteEmptyKeys(this.urlBody)
                        })
                        .catch(err => {
                             console.error(err);
                        })
              })
              .catch(error => {
                     console.log(error);
                     this.$progress.fail();
              })
      }
    }
};

</script>
<style lang="scss">
   @import "@/assets/css/custom.scss";
</style>
