.mt-1em {
    margin-top: 1em !important;
}

.mt-2em {
    margin-top: 2em !important;
}

.mb-1em {
    margin-bottom: 1em !important;
}

.mb-2em {
    margin-bottom: 2em !important;
}

.ml-1em {
    margin-left: 1em !important;
}

.ml-2em {
    margin-left: 2em !important;
}

.mr-1em {
    margin-right: 1em !important;
}

.mr-2em {
    margin-right: 2em !important;
}

.mx-1em {
    margin-left: 1em !important;
    margin-right: 1em !important;
}

.mx-2em {
    margin-left: 2em !important;
    margin-right: 2em !important;
}

.my-1em {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.my-2em {
    margin-top: 2em !important;
    margin-bottom: 2em !important;
}

.ma-10px {
    margin: 10px !important;
}

.mb-1rem {
    margin-bottom: 1rem !important;
}

small {
    font-size: 100% !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #212529 !important;
    background-color: #f8f9fa !important;
    border-color: #f8f9fa !important;
    cursor: not-allowed;
}