<template>
    <div>
        <div class="pb-2 mb-3 border-bottom">
            <h2>Dashboard</h2>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
        <br />
        <div class="container-fluid">
            <div>
                <div class="col-md-12">
                    <b-card-group deck>
                        <b-card v-if="checkPermit('viewUsers') || checkPermit('Do_Anything')" bg-variant="dark" no-body text-variant="white" class="text-center col-md-3">
                            <router-link to="/users" style="color:#ffff;">
                                <b-card-body>
                                    <b-card-text class="my-4">
                                        <h5>Users</h5>
                                    </b-card-text>
                                </b-card-body>
                            </router-link>
                        </b-card>

                        <b-card v-if="checkPermit('viewPosts') || checkPermit('Do_Anything')"  bg-variant="dark" no-body text-variant="white" class="text-center col-md-3">
                            <router-link to="/view" style="color:#ffff;">
                                <b-card-body>
                                    <b-card-text class="my-4">
                                        <h5>Posts</h5>
                                    </b-card-text>
                                </b-card-body>
                            </router-link>
                        </b-card>

                        <b-card v-if="checkPermit('viewUsers') || checkPermit('Do_Anything')"  bg-variant="dark" no-body text-variant="white" class="text-center col-md-3">
                            <router-link to="/blockedusers" style="color:#ffff;">
                                <b-card-body>
                                    <b-card-text class="my-4">
                                        <h5>Blocked Users</h5>
                                    </b-card-text>
                                </b-card-body>
                            </router-link>
                        </b-card>

                        <b-card   bg-variant="dark" no-body text-variant="white" class="text-center col-md-3">
                            <router-link to="/home" style="color:#ffff;">
                                <b-card-body>
                                    <b-card-text class="my-4">
                                        <h5>Home</h5>
                                    </b-card-text>
                                </b-card-body>
                            </router-link>
                        </b-card>
                    </b-card-group>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    mounted(){
         this.$Progress.finish();
    },
    methods: {
        checkPermit: function(permission){
            return this.hasPermission(permission);
        }
    }
}
</script>
<style lang="scss">
   @import "@/assets/css/custom.scss";
</style>