<template>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    Permissions Denied</h2>
                <div class="error-details">
                    Please Contact Your Administrator
                </div>
                <div class="error-actions">
                      <router-link :to="{ name: 'dashboard'}" tag="b-button">Go to Dashboard</router-link>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<style>
body { background:'#D8CFCD'; }
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
</style>