<template>
<div v-if="!access">
      <NotFound/>
</div>
<div v-else>
   <div class="pb-2 mb-3 border-bottom"><h2>Add User</h2></div>
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><router-link to="/dash">Dashboard</router-link></li>
            <li class="breadcrumb-item"><router-link to="/users">Users</router-link></li>
            <li class="breadcrumb-item active">Add</li>
         </ol>
      </nav>
    <br />
   <b-form>
     <b-container fluid>
       <b-alert v-model="alerts.message"  variant="success" dismissible>{{ message }}</b-alert>
       <b-alert v-model="alerts.errors"  variant="danger" dismissible>{{ errors }}</b-alert>
       <b-row class="my-2">
         <b-col sm="2">
           <label for="input-1">Name<sup style="color:red;">*</sup></label>
         </b-col>
         <b-col sm="6">
           <b-form-input type="text" v-model="userdata.name" id="input-1" placeholder="Name"> </b-form-input>
           <small class="text-muted field">Minimum 3 characters</small>
         </b-col>
       </b-row>
       <b-row class="my-2">
         <b-col sm="2">
           <label for="input-2">Email<sup style="color:red;">*</sup></label>
         </b-col>
         <b-col sm="6">
            <b-form-input type="email" v-model="userdata.email" id="input-2" placeholder="Email"> </b-form-input>
            <small class="text-muted field">Must enter valid email address</small>
         </b-col>
       </b-row>
       <b-row class="my-2">
         <b-col sm="2">
           <label for="input-3">Password<sup style="color:red;">*</sup></label>
         </b-col>
         <b-col sm="6">
            <b-form-input type="password" v-model="userdata.password" id="input-3" placeholder="*******"> </b-form-input>
            <small class="text-muted field">Minimum 5 characters</small>
         </b-col>
       </b-row>
       <b-row class="my-2">
          <b-col sm="2">
            <label for="input-4">Confirm Password<sup style="color:red;">*</sup></label>
          </b-col>
          <b-col sm="6">
             <b-form-input type="password" v-model="userdata.confirm_pwd" id="input-4" placeholder="*******"> </b-form-input>
             <small v-if="userdata.password!==userdata.confirm_pwd"  style="color:red;">Both password not matched</small>
          </b-col>
       </b-row>
       <b-row class="my-2" >
         <b-col>
         </b-col>
         <b-col sm="6" >
             <b-button type="button" variant="primary" class="text-right ma-10px" @click="adduser();" >Submit</b-button>
             <b-button type="button" variant="Secondary" class="ma-10px" @click="$router.go(-1)" >Cancel</b-button>
         </b-col>
       </b-row>
     </b-container>
  </b-form>
</div>
</template>

<script>
import axios from "axios";
import NotFound from "../errors/NotFound";
export default {
    components: {
        NotFound
    },
    data() {
        return {
         access:'',
         message:'',
         errors:'',
         alerts:{
            message:false,
            errors:false
         },
         userdata: {
            name:'',
            email:'',
            password:'',
            confirm_pwd:''
         },
         data: this.$cookies.get('user'),
         url:'http://192.168.1.213:9999/api'
        }
    },
    mounted() {
        if(!this.$cookies.isKey('user')){
            this.$router.push({  name: 'login' });
        }
        this.access = this.hasPermission('addUser');
    },

    methods : {
         adduser(){
            this.$Progress.start();
            var data = { name: this.userdata.name, email: this.userdata.email, password: this.userdata.password, password_confirmation: this.userdata.confirm_pwd}
            axios
               .post(this.$api.addUser,data, this.getAuthHeaders())
               .then(response => {
                       console.log(response.data.data);
                       const result = response.data.data;
                   if("message" in result){
                      this.message = result.message;
                      this.alerts.errors = false;
                      this.alerts.message = true;

                      this.userdata.name = '';
                      this.userdata.email = '';
                      this.userdata.password = '';
                      this.userdata.confirm_pwd = '';
                      this.$router.go(-1);
                   }else if("email" in result){
                      this.errors = result.email;
                      this.alerts.message = false;
                      this.alerts.errors = true;
                   }
                   this.$Progress.finish();
               })
               .catch(error => {
                      this.$Progress.fail();
                     if("name" in error.response.data.errors){
                        this.errors = error.response.data.errors.name[0];
                        this.alerts.message = false;
                        this.alerts.errors = true;
                     }else if("email" in error.response.data.errors){
                        this.errors = error.response.data.errors.email[0];
                        this.alerts.message = false;
                        this.alerts.errors = true;
                     }else if("password" in error.response.data.errors){
                        this.errors = error.response.data.errors.password[0];
                        this.alerts.message = false;
                        this.alerts.errors = true;
                      }
                 })
        },
     }
}

</script>
<style lang="scss">
   @import "@/assets/css/custom.scss";
</style>
