<template>
<div v-if="!access">
    <NotFound/>
</div>
<div v-else>
    <div class="pb-2 mb-3 border-bottom"><h2>Blocked Users</h2></div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <router-link to="/">Dashboard</router-link>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Users</li>
            </ol>
        </nav>
       <b-container fluid>
          <b-row>
              <b-col lg="6" class="mb-1rem">

              </b-col>

        <!---Table-->
            <!---Search-->
     <b-col lg="6" class="mb-1rem">
        <b-form-group
          label="Filter"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="filterInput"
          class="mb-0"
          style="font-weight:bold; font-size:1rem !important;"
        >
          <b-input-group size="md">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
            ></b-form-input>
                 <b-input-group-append>
                                <b-button
                                    :disabled="!filter"
                                    @click = "search()"
                                    class="btn btn-primary"
                                >Search</b-button>
                </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
          </b-row>


        <b-table
          striped
          hover
          no-local-sorting
          responsive
          show-empty
          :fields = fields
          :items = items
          @sort-changed ="sorting"
          @filtered="search"
        >

          <template v-slot:cell(id)="row">
              {{ row.index+1 }}
          </template>

          <template v-slot:cell(details)="row">
            <b-link>
              <font-awesome-icon icon="eye" class="mr-1" style="cursor:pointer" @click="$bvModal.show('showDetails'); getDetails(row.item);"></font-awesome-icon>
              </b-link>
          </template>

          <template v-slot:cell(actions)="row">
              <!-- <b-link :to="{ name: 'edituser', params: { id: row.item.id }}"><font-awesome-icon icon="pen" class="mr-1" style="cursor:pointer" ></font-awesome-icon></b-link> -->
              <b-link><font-awesome-icon icon="trash-alt" class="mr-1 text-danger" style="cursor:pointer" @click="deleteUser(row.item.id);"></font-awesome-icon></b-link>
              <b-icon icon="unlock-fill" v-if="row.item.blocked==0" font-scale="1.5" @click="blockUser(row.item.id);" variant="danger"></b-icon>
              <b-icon icon="lock-fill" v-if="row.item.blocked==1" font-scale="1.5" @click="unblockUser(row.item.id);" variant="danger"></b-icon>
          </template>

        </b-table>
      </b-container>
        <!---Table end-->

      <!---pagination-->
           <div class="pagination" style="float:right;">
                <nav aria-label="Page navigation">
                    <ul class="pagination">

                      <li class="page-item">
                            <span
                                class="page-link"
                                v-on:click="navigate(pagination.current_page-1);"
                                v-if="pagination.prev_page_url!==null"
                            >
                               <font-awesome-icon class="mr-2" icon="angle-double-left">
                                 </font-awesome-icon>Previous
                            </span>

                             <span
                                class="page-link text-muted"
                                style="cursor:not-allowed !important;"
                                v-else
                            >
                                <font-awesome-icon class="mr-2" icon="angle-double-left"></font-awesome-icon>Previous
                            </span>
                      </li>
                      <li class="page-item">
                            <span
                                class="page-link text-muted"
                                style="cursor:not-allowed !important;"
                                v-if="pagination.next_page_url==null"
                            >
                                Next
                                <font-awesome-icon class="mr-2" icon="angle-double-right"></font-awesome-icon>
                            </span>
                           <span class="page-link" v-else v-on:click="navigate(pagination.current_page+1);" :disabled="!pagination.next_page_url">
                                Next
                                <font-awesome-icon class="mr-2" icon="angle-double-right"></font-awesome-icon>
                           </span>
                      </li>
                    </ul>
                </nav>
            </div>


        <!---Details Modal-->

        <b-modal id="showDetails">
            <template v-slot:modal-title>
               USER INFO
            </template>

            <div class="form-group">
               <p> <b>ID:</b> {{ data.id }} </p>
               <p> <b>Name:</b> {{ data.name }} </p>
               <p> <b>Email:</b> {{ data.email }} </p>

            </div>
        </b-modal>

        <!---Modalend-->




    </div>
</template>


<script>
import axios from "axios";
import NotFound from "../errors/NotFound";
export default {
    components: {
        NotFound
    },
    data() {
        return {
            access:'',
            urlBody: {
                search: "",
                sortBy: "",
                sortDirection: "",
                page: 1
            },
            items:[],
            fields:[
                {key:"id", label:"SNO"},
                {key:"name", label:"NAME", sortable:"true"},
                {key:"email", label:"EMAIL", sortable:"true"},
                {key:"details", label:"SHOW DETAILS"},
                {key:"actions", label:"ACTIONS"},

            ],
            data: {
                id:'',
                name:'',
                email:''
            },
            cookies: this.$cookies.get('user'),
            pagination: [],
            filter:null,
            order:null
        }
    },
    mounted(){
       this.access = this.hasPermission('viewUsers');
       this.getUsers();
    },
    methods: {
         getUsers(){
              this.$Progress.start();
              let $this = this;
              var urlBody =
                   Object.keys(this.$route.query).length > 0
                         ? this.$route.query
                         : this.deleteEmptyKeys(this.urlBody);
              var query = this.getAuthHeaders();
              query['params'] = urlBody;
              axios
                 .get(this.$api.getblockedcustomers, query)
                 .then(response => {
                          const result = response.data.data[0];
                          this.items = result.data;
                          $this.makePagination(result);
                          this.$Progress.finish();
                  })
                  .catch(error => {
                          console.log(error);
                          this.$Progress.fail();
                   })
         },
         getDetails(data){
              this.data.id = data.id;
              this.data.name = data.name;
              this.data.email = data.email;
         },
         deleteUser(id){
              this.$bvModal.msgBoxConfirm('Please confirm that you want to delete this User.', {
                  title: 'Please Confirm',
                  size: 'sm',
                  buttonSize: 'sm',
                  okVariant: 'danger',
                  okTitle: 'YES',
                  cancelTitle: 'NO',
                  footerClass: 'p-2',
                  hideHeaderClose: false,
                  centered: true
              })
              .then(value => {
                   if(value == true){
                       var headers = {Authorization: 'Bearer '+this.cookies.access_token}
                       axios
                          .post(this.url+'/deleteUser',{id:id}, {headers: headers})
                          .then(response => {
                                 console.log(response.data);
                                 this.getUsers();
                           })
                          .catch(error=> {
                                 this.$Progress.fail();
                                 console.log(error);
                           })
                     }
               })
         },
         makePagination(data){
            let pagination = {
                 current_page : data.current_page,
                 last_page : data.last_page,
                 next_page_url : data.next_page_url,
                 prev_page_url : data.prev_page_url
            }
            this.pagination = pagination;
         },
         navigate(page){
             var newQuery = this.deleteEmptyKeys(this.$route.query);
             newQuery.page = page;
             this.$router
                 .push({
                    path: this.$route.params[0],
                    query: newQuery
                 })
                 .catch(err => {
                        console.error(err);
                  })
            this.getUsers();
         },
         unblockUser(id){
             axios
                .post(this.$api.unblockUser,{ id: id}, this.getAuthHeaders())
                .then(response => {
                      console.log(response),
                      this.getUsers()
                })
               .catch(error => {
                      console.log(error);
                      this.$Progress.fail();
                })
            },
         sorting(ctx){
              this.urlBody.sortDirection = ctx.sortDesc ? 'asc' : 'desc';
              this.urlBody.sortBy = ctx.sortBy;
              this.urlBody.page = 1;
              var query = this.getAuthHeaders();
              query["params"] = this.urlBody;
              axios
                 .get(this.$api.getblockedcustomers, query)
                 .then(response => {
                        console.log(response);
                        const result = response.data.data[0];
                        this.items = result.data;
                        this.makePagination(result);
                        this.$router
                            .push({
                                 path: this.$route.params[0],
                                 query: this.deleteEmptyKeys(this.urlBody)
                            })
                            .catch(error => {
                                  console.error(error);
                            })
                   })
                  .catch(error => {
                        console.log(error);
                        this.$progress.fail();
                  })
          },
         search(){
            this.urlBody.search = this.filter;
            this.urlBody.page = 1;
            var query = this.getAuthHeaders();
            query["params"] = this.urlBody;
            axios
               .get(this.$api.getblockedcustomers, query)
               .then(response => {
                        console.log(response);
                        const result = response.data.data[0];
                        this.items = result.data;
                        this.makePagination(result);
                        this.$router
                            .push({
                                path: this.$route.params[0],
                                query: this.deleteEmptyKeys(this.urlBody)
                            })
                            .catch(err => {
                              console.error(err);
                            })
                })
                .catch(error => {
                  console.log(error);
                  this.$Progress.fail();
                })
         }

    }
}
</script>
<style lang="scss">
   @import "@/assets/css/custom.scss";
</style>
