<template>
  <div>
    <div class="pb-2 mb-3 border-bottom"><h2>Edit User</h2></div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><router-link to="/dash">Dashboard</router-link></li>
    <li class="breadcrumb-item"><router-link to="/users">Users</router-link></li>
    <li class="breadcrumb-item active">Edit</li>
  </ol>
</nav>
 <br />
<b-form @submit.prevent="submit">
     <b-container fluid>
          <b-alert v-model="alerts.message" variant="success" dismissible>{{ message }}</b-alert>
          <b-alert v-model="alerts.errors" variant="danger" dismissible>{{ errors }}</b-alert>
       <b-row class="my-2">
        <b-col sm="2">
          <label for="input-1">Name<sup style="color:red;">*</sup></label>
        </b-col>
        <b-col sm="6">
          <b-form-input type="text" v-model="name" id="input-1" placeholder="name"> </b-form-input>
          <small class="text-muted field">Minimum 3 characters</small>
        </b-col>
       </b-row>

       <b-row class="my-2">
        <b-col sm="2">
          <label for="input-2">Email<sup style="color:red;">*</sup></label>
        </b-col>
        <b-col sm="6">
          <b-form-input type="email"  v-model="email" id="input-2" placeholder="Email"></b-form-input>
          <small class="text-muted field">Must Enter Valid Email</small>
        </b-col>
       </b-row>


        <b-row class="my-2" >
          <b-col>

          </b-col>
          <b-col sm="6">
            <b-button type="submit" variant="primary" class="text-right ma-10px" @click="updateUser()">Submit</b-button>
             <b-button type="button" variant="Secondary" class="ma-10px" @click="$router.go(-1)">Cancel</b-button>
          </b-col>
        </b-row>
     </b-container>
</b-form>

        </div>



</template>

<script>
import axios from 'axios';
export default {
    data (){
      return {
        name: '',
        email: '',
        alerts:{
          message:false,
          errors: false
        },
        data:this.$cookies.get('user'),
        message:'',
        errors:'',
      }
    },
     mounted() {
         this.getUsers();
     },
     methods: {
        getUsers(){
             this.$Progress.start();
             axios
               .post(this.$api.getUser, { id: this.$route.params.id }, this.getAuthHeaders())
               .then(response => {
                     //console.log(response.data);
                     const result  = response.data.data[0][0];
                     this.name = result.name;
                     this.email = result.email;
                     this.$Progress.finish();
                })
        },
        updateUser(){
              this.$Progress.start();
              var data = { name: this.name, email: this.email, userId: this.$route.params.id }
              axios
                 .post(this.$api.update,data, this.getAuthHeaders())
                 .then(response => {
                       console.log(response.data);
                       this.message = response.data;
                       this.alerts.errors = false;
                       this.alerts.message = true;
                       this.$Progress.finish();
                       this.$router.go(-1);
                   })
                  .catch(error => {
                        this.$Progress.fail();
                        if("name" in error.response.data.errors){
                              this.errors = error.response.data.errors.name[0];
                              this.alerts.message = false;
                              this.alerts.errors = true;
                        }else if("email" in error.response.data.errors){
                              this.errors = error.response.data.errors.email[0];
                              this.alerts.message = false;
                              this.alerts.errors = true;
                        }
                  })
         }
     }
}
</script>
<style lang="scss">
   @import "@/assets/css/custom.scss";
</style>
