<template>
    <div>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
                <router-link to="/">
                    <span class="navbar-brand">Blog</span>
                </router-link>
           <div class="dropdown">
                    <button
                        class="dropdown-toggle"
                        type="button"
                        id="mobileMenu"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        aria-label="Toggle Menu"
                    >
                       <font-awesome-icon icon="ellipsis-v" class="navbar-toggler-icon-right"></font-awesome-icon>
                    </button>
                    <div class="col-lg-4 dropdown-menu" aria-labelledby="mobileMenu">
                    <span class="dropdown-item" v-on:click="logout()">Logout</span>
                    </div> 
                </div>

                <div class="navbar-collapse d-none d-md-block">
                  <ul class="navbar-nav mr-auto"></ul>
                    <div class="form-inline mt-2 mt-md-0">
                        <ul class="navbar-nav px-3">
                             <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    id="navbarDropdownMenuLink"
                                    role="button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    href="#"
                                >
                                    <font-awesome-icon icon="user"></font-awesome-icon>
                                    <font-awesome-icon icon="caret-down"></font-awesome-icon>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <span
                                        class="dropdown-item disabled font-weight-bold"
                                    ></span>
                                    <span class="dropdown-item disabled">
                                        @{{ role.id }}
                                        <hr />
                                    </span>
                   

                                    <a href="#">
                                        <span class="dropdown-item" v-on:click="logout()">Logout</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
                   <div class="clear-fix"></div>
            <div class="container-fluid">
                <div class="row">
                    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 pt-3 px-4">
                        <router-view />
                    </main>
                </div>
            </div>
        </header>
         <vue-progress-bar></vue-progress-bar>
  </div>
 </template>
<script>
import axios from 'axios';
export default {
  mounted() {
       if(!this.$cookies.isKey('user')){
           this.$router.push({ name: 'login' });
       }
  },
  data() {
    return {
       role: this.$cookies.get('user')
    }
  },
  methods: {
    logout() {
         axios
           .get(this.$api.logout, this.getAuthHeaders())
           .then(response => {
                   console.log(response);
                   this.$cookies.remove('user');
                   this.$router.push({ name: 'login' });
           })
           .catch(err => {
               this.$Progress.fail();
               console.log(err);
           })

    }
  }
};
</script>

<style lang="scss">
#nprogress .bar {
    height: 5px !important;
}
#app,table {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2e2e2e;
    text-align: left;
}
.navbar {
    padding: 0rem 1rem !important;
}
.navbar-dark .navbar-toggler {
    border: none !important;
    color: #ffffff !important;
}
.navbar-toggler-icon {
    width: 1.2em !important;
    height: 1.2em !important;
}
.navbar-toggler-icon-right {
    width: 0.5em !important;
    color: #ffffff !important;
}
.dropdown-toggle {
    background-color: transparent !important;
    border: none;
}
.dropdown-toggle::after {
    border: none !important;
}
svg:not(:root) {
    overflow: hidden;
}
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    margin-right: 5px !important;
}
a:focus {
    color: #2e2e2e !important;
    outline: none !important;
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    border: none;
    color: #ffffff !important;
}
button:focus {
    outline: none !important;
}
.dropdown-menu {
    left: -100% !important;
    font-size: 0.875rem !important;
}
a {
    text-decoration: none !important;
    background-color: transparent !important;
}
.dropdown-item:hover {
    color: #fefeff !important;
    text-decoration: none;
    background-color: #0a81f99e !important;
}
.nav-link-custom:hover {
    background-color: #0a81f99e !important;
}
.page-link:focus,
.page-link:hover {
    cursor: pointer !important;
}
.btn-primary {
    background-color: #007bff !important;
    border-color: #007bff !important;
}
@media (max-width: 575px) {
    .dropdown-menu {
        left: -130px !important;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .dropdown-menu {
        left: -130px !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #mobileMenu {
        display: none;
    }
    .dropdown-menu {
        left: -100px !important;
    }
}
@media (min-width: 992px) and (max-width: 1023px) {
    #mobileMenu {
        display: none;
    }
    .dropdown-menu {
        left: -100px !important;
    }
}
@media (min-width: 1024px) {
    #mobileMenu {
        display: none;
    }
    .dropdown-menu {
        left: -100px !important;
    }
}


//sortArrows

.table.b-table > thead > tr > [aria-sort="none"], .table.b-table > tfoot > tr > [aria-sort="none"] {
    background-image: none !important; 
}
.table.b-table > thead > tr > [aria-sort="ascending"], .table.b-table > tfoot > tr > [aria-sort="ascending"] {
    background-image: none !important; 
}
.table.b-table > thead > tr > [aria-sort="descending"], .table.b-table > tfoot > tr > [aria-sort="descending"] {
    background-image: none !important; 
}


.table.b-table > thead > tr > th[aria-sort]::before, .table.b-table > tfoot > tr > th[aria-sort]::before {
    float: right;
    margin-left: 0.5em;
    width: 0.5em;
    font-size: inherit;
    line-height: inherit;
    opacity: 0.4;
    content: "\2195";
}
.table.b-table > thead > tr > th[aria-sort][aria-sort="descending"]::before, .table.b-table > tfoot > tr > th[aria-sort][aria-sort="descending"]::before {
    opacity: 1;
    content: "\2191";
}
.table.b-table > thead > tr > th[aria-sort][aria-sort="ascending"]::before, .table.b-table > tfoot > tr > th[aria-sort][aria-sort="ascending"]::before {
    opacity: 1;
    content: "\2193";
}

</style>



