<template>
<div class="container">
      <div class="sidenav">
         <div class="login-main-text">
            <h2>Application<br> Login Page</h2>
            <p>Login or register from here to access.</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-8 col-sm-12">
            <div class="login-form">
               <b-alert v-model="alerts.message"  variant="success" dismissible>{{ message }}</b-alert>
               <b-alert v-model="alerts.errors"  variant="danger" dismissible>{{ errors }}</b-alert>
               <b-form @submit.prevent="login">
                   <b-form-group
                      id="input-group-1"
                      label-for="input-1"
                   >
                   <b-form-input 
                       id="input-1"
                       type="text"
                       v-model="email"
                       
                       placeholder="Enter Email"
                   ></b-form-input>
                   </b-form-group>
                   <b-form-group
                       id="input-group-2"
                       label-for="input-2"
                   >
                   <b-form-input
                       id="input-2"
                       type="password"
                       v-model= "pwd"
                       
                       placeholder ="Password"
                   ></b-form-input>
                
                   </b-form-group>

                  <b-button type="submit" variant="success">Login</b-button>&nbsp;
                  <b-link to="/register" tag="b-button">
                     <b-button type="button"  variant="primary">Register</b-button>
                  </b-link>
               </b-form>
            </div>
         </div>
      </div>
  
      <router-view></router-view>
</div>
</template>

<script>

import axios from 'axios';
export default {
   data() {
      return {
         email: '',
         pwd: '',
         message:'',
         errors:'',
         alerts:{
            message:false,
            errors:false,
         }
      }
   },
   mounted() {
      if(this.$cookies.isKey('user')){
            this.$router.push({ name: 'dashboard'});
      }
   },
   methods: {
      login: function() {
         this.$Progress.start();
         var data = {'email' : this.email,'password': this.pwd}       
         axios
           .post(this.$api.login, data)
           .then(response => {
                console.log(response);
                const result = response.data.data;
                if(result.length > 0){
                        let res = result[0]['User_Details']
                        var user = { 
                                    id:res['id'], 
                                    access_token: res['access_token'],
                                    roles: res['roles'],
                                    permissions: res['permissions']  
                        };
                        this.$cookies.set('user', user, 0);
                        this.$router.push({ name: 'dashboard' });
                }else{
                        this.errors = response.data.message
                        this.alerts.message = false;
                        this.alerts.errors = true;
                }
                this.$Progress.finish();
            })
            .catch(error => {
                 console.log(error.response.data.errors);
                 if("email" in error.response.data.errors){
                      this.errors = error.response.data.errors.email[0];
                      this.alerts.message = false;
                      this.alerts.errors = true; 
                 }else if("password" in error.response.data.errors){
                      this.errors = error.response.data.errors.password[0];
                      this.alerts.message = false;
                      this.alerts.errors = true;
                 }
                 this.$Progress.fail();
             })
      }
   }
}
</script>
<style lang="scss">
   @import "@/assets/css/custom.scss";

   body {
    font-family: "Lato", sans-serif;
}



.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}
</style>

