<template>
<div class="container">
      <div class="sidenav">
         <div class="login-main-text">
            <h2>Application<br> Register Page</h2>
            <p>Login or register from here to access.</p>
         </div>
      </div>
    
      <div class="main">
         <div class="col-md-7 col-sm-12">
            <div class="login-form">
               <b-alert v-model="alerts.message"  variant="success" dismissible>{{ message }}</b-alert>
               <b-alert v-model="alerts.errors"  variant="danger" dismissible>{{ errors }}</b-alert>
              
               <b-form>
                  <b-form-group 
                    id="input-group-1"
                  >
                  <b-form-input
                     id="input-1"
                     type="text"
                     v-model= "name"
                     placeholder="Name"
                     :length="char"
                     autocomplete="off"
                  ></b-form-input>
                  <small class="text-muted field">Minimum 3 characters</small>
                  </b-form-group>

                  <b-form-group
                     id="input-group-2"
                  >
                  <b-form-input
                     id="input-2"
                     type="email"
                     v-model="email"
                     placeholder="Email"
                     autocomplete="off"
                  ></b-form-input>
                  <small class="text-muted field">Must enter valid email address</small>
                  </b-form-group>
                   

                  <b-form-group
                     id="input-group-3"
                  >
                  <b-form-input
                     id="input-3"
                     type="password"
                     v-model="pwd"
                     placeholder="*******"
                     autocomplete="off"
                  ></b-form-input>
                  <small class="text-muted field">minimum 5 characters</small>
                  </b-form-group>

                  <b-form-group
                     id="input-group-4"
                  >
                   <b-form-input
                     id="input-4"
                     type="password"
                     v-model="confirmpwd"
                     placeholder="*******"
                     autocomplete="off"
                  ></b-form-input>
                  <small v-if="pwd!==confirmpwd"  style="color:red;">Both password not matched</small>
                  </b-form-group>
                  <b-button type="button" @click="register()" variant="primary">Register</b-button>
                  <router-link to="/" tag="a">
                      <a style="float:right"><u>Login in, if you have already register?</u></a>
                  </router-link>
               </b-form>
            </div>
         </div>
      </div>
  
      <router-view></router-view>
</div>
</template>

<script>

import axios from 'axios';
export default {
    data() {
        return {
            name: '',
            email: '',
            pwd: '',
            confirmpwd: '',
            message:'',
            errors:'',
         alerts:{
            message:false,
            errors:false
         }
        }
    },
    methods: {
        register() {
            this.$Progress.start();
            const data = {
                'name': this.name,
                'email': this.email,
                'password': this.pwd,
                'password_confirmation': this.confirmpwd
            }
            axios
             .post(this.$api.register,data)
             .then(response=>{
                const result = response.data.data;
                   if("id" in result){
                       this.$router.push({ name: 'login' });
                   }else if("message" in result){
                      this.message = result.message;
                      this.alerts.errors = false;
                      this.alerts.message = true;        
                   }else if("email" in result){
                      this.errors = result.email;
                      this.alerts.message = false; 
                      this.alerts.errors = true;
                   }       
                    this.$Progress.finish();     
             })
             .catch(error => {
                  if("name" in error.response.data.errors){
                     this.errors = error.response.data.errors.name[0];
                     this.alerts.message = false;
                     this.alerts.errors = true;
                  }else if("email" in error.response.data.errors){
                     this.errors = error.response.data.errors.email[0];
                     this.alerts.message = false;
                     this.alerts.errors = true;
                  }else if("password" in error.response.data.errors){
                     this.errors = error.response.data.errors.password[0];
                     this.alerts.message = false;
                     this.alerts.errors = true;
                  }
                   this.$Progress.fail();
             })
        }
    }
}
</script>